RewriteEngine On

# Redireciona tudo para o front controller, exceto arquivos e diretórios existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L,QSA]

# Segurança básica
Options -Indexes
